body {
    background-color: #eaf2ef;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}
.btn {
    display: inline-block;
    align-self: center;
    text-align: center;
    background-color: hsl(174,49%,65%);
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
h1 {
    color:#214a3a;
    letter-spacing: 2px;
    text-align: center;
}
h2 {
    color: #848484;
    letter-spacing: 2px;
    text-align: center;
}
img {
    border-radius: 5px;
}
p {
    letter-spacing: 1.8px;
    text-align: center;
}
button {
    background-color: #eaf2ef;
    border: none;
    cursor: pointer;
    color:#214a3a;
    font-size: 15px;
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    img {
        width: 300px;
    }
    h3 {
        font-size: 14px;
    }
}